.conceptual-map--quantitativeData__ul--primary {
  margin: 0 0 35px 10px;
}
.conceptual-map--quantitativeData__ul--secondary {
  margin: 0 0 70px 40px;
}
.conceptual-map--quantitativeData h3 {
  background-color: #53a84b;
  color: white;
  padding: 10px;
  position: relative;
  top: -33px;
  left: -28px;
  width: 90%;
}

@media (min-width: 1000px) {
  .conceptual-map--quantitativeData__ul--primary {
    margin: 0 0 35px 10px;
  }
  .conceptual-map--quantitativeData__ul--secondary {
    margin: 0 0 70px 70px;
  }
  .conceptual-map--quantitativeData h3 {
    width: 50%;
  }
}