@keyframes research-ethics-img-1 {
    from {
      opacity:0;
    }
  
    to {
        opacity: 1;
        
    }
  }

.research-ethics{
    background-color: #EFEBCF;
    padding: 10px;
    &__container{
        border: 2px dashed #582016;
        color: #582016;
        padding: 10px;
        margin: 10px;
        h3{
            padding: 10px 0;
        }
    }
    &__imagen{
        background-color: brown;
        padding: 20px;
        max-width: 180px;
        margin: 10px auto;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        img{
            max-width: 130px;
            animation: research-ethics-img-1;
            animation-duration: 3s;
           /* transform: rotate(-10deg);*/
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            background-color: white;
        }
    }

    &__container:nth-child(1) &__imagen{
        background-color: #377C87;
        border: 3px solid #EEA94E;
    }

    &__container:nth-child(even){
        border-color:#EEA94E;
    }

    &__container:nth-child(even) &__imagen{
        background-color: #EEA94E;
        img{
            /* transform: rotate(10deg); */
            animation: research-ethics-img-1;
            animation-duration: 6s;
        }
    }

}

@media (min-width: 1000px) {
    .research-ethics{
        padding: 20px 80px;
        &__container{
            
            position: relative;
            min-height: 230px;
            margin: 50px 0;
        }
        &__imagen{
            position:absolute;
            min-height: 180px;
            img{
                max-height: 130px;
            }
        }

        &__container:nth-child(odd) &__imagen{
           left: -60px;
           /* transform: rotate(2deg); */
        }
        &__container:nth-child(odd) &__info{
            padding: 50px 22px 0 100px;
        }
        &__container:nth-child(even) &__imagen{
            right: -60px;
            /* transform: rotate(-2deg); */
        }
        &__container:nth-child(even) &__info{
            padding: 50px 100px 0 30px;
        }
    }
}
