.section-general{
    padding: 20px 0 20px 0;
    overflow: hidden;
    position: relative;
    h2{
        color: var(--unad-blue);
        font-size: 2rem;
        text-align: center;
        padding: 20px 0;
        margin: 0 auto;
    }
    &__button-left,
    &__button-right{
        background-color: var(--unad-yellow--alpha);
        background-image: url("../icons/flecha-blanca-izquierda.svg");
        background-position: right 6px center ;
        background-repeat: no-repeat;
        background-size: 20px;
        color: var(--unad-white);
        cursor: pointer;
        position: absolute;
        top: 40%;
        left: -30px;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        border:0;
        z-index: 10;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    }
    &__button-right{
        background-image: url("../icons/flecha-blanca-derecha.svg");
        background-position: left 6px center ;
        left: auto;
        right: -30px;
    }
    &__button-show-more{
        background-color: var(--unad-orange);
        border-radius: 10px;
        color: var(--unad-white);
        display: inline-block;
        padding: 10px 26px;
        text-decoration: none;
        font-size: 1.2rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        @include media(tablet){
            border-radius: 20px;
        }
    }
    &__button-show-more-container{
        padding: 20px 0;
        text-align: center;
    }
    &__slider{
        margin: 0 auto;
        width: 100%;
        display: flex;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;
        
    }
    &__slider::-webkit-scrollbar {
        height: 0px;
        width: 0px;
    }
    &__slider:hover::-webkit-scrollbar {
        height: 4px;
        width: 4px;
    }
    &__slider::-webkit-scrollbar-thumb {
        background: var(--unad-grey--dark);
        border-radius: 4px;
    }

    @include media(desktop-m){
        &__button-left,
        &__button-right{
            left: calc(50% - 600px) ;
            background-position: right 42% center;
            background-size: 24px;
        }
        &__button-right{
            left: auto;
            right: calc(50% - 600px) ;
            background-position: left 42% center;
        }
        h2{
            text-align: left;
            width: 1100px;
        }
        &__slider{
                width: 1200px;
        }
    }
    
    
}