include section-ovas.pug
include section-docentes.pug
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title UNAD - English OVAs
        link(rel="stylesheet", href="./assets/css/template.css")
    body
        header
            img(src="./assets/imgs/logoUNAD.svg", 
            alt="Logo UNAD")

        block contenidos

    footer Información final
    script(src="./assets/js/slider.js")
    script(src="./assets/js/slider_scroll.js")
